{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telehealth Accessibility</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js'%}"> </script>
    <script src="{% static 'server.js'%}"></script>
</head>
<body>
    <header>
        <h1>Telehealth Accessibility</h1>
        <nav>
            <a href="registration.html">Register</a>
            <a href="booking.html">Book Appointment</a>
            <a href="consultation.html">Video Consultation</a>
            <a href="accessibility.html">Accessibility</a>
            
        </nav>
    </header>
    <main>
        <section id="introduction">
            <h2>Welcome to Telehealth Accessibility</h2>
            <p>Your gateway to accessible telehealth services. Connect with healthcare professionals from the comfort of your home.</p>
            <a class="popping" href="registration.html" class="cta-button">Get Started</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Telehealth Accessibility. All rights reserved.</p>
    </footer>




</body>
</html>

